@model MvcVehiculos.Models.vehiculo

@{
    ViewData["Title"] = "Adicionar";
}

<h3>Adicionar Veh&iacute;culo</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vehiculofechainc" class="control-label"></label>
                <input asp-for="vehiculofechainc" class="form-control" />
                <span asp-validation-for="vehiculofechainc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehiculoplaca" class="control-label"></label>
                <input asp-for="vehiculoplaca" class="form-control" />
                <span asp-validation-for="vehiculoplaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehiculomarca" class="control-label"></label>
                <input asp-for="vehiculomarca" class="form-control" />
                <span asp-validation-for="vehiculomarca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehiculonropuertas" class="control-label"></label>
                <input asp-for="vehiculonropuertas" class="form-control" />
                <span asp-validation-for="vehiculonropuertas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
